# Codigo para calcular distancias, tiempo y velocidad de los viajes

In [1]:
#Librerias 
import os            #Sistema operativo
import pandas as pd  #Lectura de Dataframe
import numpy as np   #Calculos

In [2]:
#Importar dataset
df = pd.read_csv('../dataset/20210101_RM.csv')

In [3]:
trazas = df.copy()
trazas

,PHONE_ID,timestamp,bts_id,lat,lon
0,668f7c17a62c937a75f762c7198a7fc98ed4e0e0c64ce0...,2021-01-01T17:22:55.000-03:00,CEMG1,-33.3913,-70.6222
1,780fc36e9a2bc99de12adb740e5e82b3cabba75c1ecd23...,2021-01-01T17:10:19.000-03:00,CEMG1,-33.3913,-70.6222
2,b3c52936d4f8494dae9d1158ce76951e62413d511f5fe2...,2021-01-01T00:35:04.000-03:00,CEMG1,-33.3913,-70.6222
3,a4ab622fe4c0de513c389ab475cee4ad5b5d27e07e32d9...,2021-01-01T17:22:38.000-03:00,CEMG1,-33.3913,-70.6222
4,77d8edaa34e7ac318ef33541957e9f33826dff24217636...,2021-01-01T17:11:12.000-03:00,CEMG1,-33.3913,-70.6222
...,...,...,...,...,...
49618127,a10823620f1b7942a4e41af228a92e4931ddfee9b82674...,2021-01-01T14:48:28.000-03:00,FBCA1,-33.4378,-70.6571
49618128,a10823620f1b7942a4e41af228a92e4931ddfee9b82674...,2021-01-01T15:18:28.000-03:00,FBCA1,-33.4378,-70.6571
49618129,80dc0d3f17303fd15f4dfe12dad5a421e46de711f2470f...,2021-01-01T02:51:03.000-03:00,FBCA1,-33.4378,-70.6571
49618130,1875229dbfaca4d90b0c25bdd03e7854cd42912b05a760...,2021-01-01T23:35:15.000-03:00,FBCA2,-33.4378,-70.6571
49618131,648e869fc949f5dd70e8c444a1d116085c35ea145fe9b3...,2021-01-01T04:54:11.000-03:00,MLPIF,-33.4145,-70.5971

In [4]:
#Acomodar datos por usuario y por fecha 
trazas = trazas.sort_values(by=['PHONE_ID','timestamp'])
trazas

,PHONE_ID,timestamp,bts_id,lat,lon
942157,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:09:15.000-03:00,ECROF,-33.3844,-70.5534
34635336,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:16:37.000-03:00,VTAND,-33.3806,-70.5419
34649168,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:18:36.000-03:00,VTAND,-33.3806,-70.5419
5770504,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:39:15.000-03:00,MANNE,-33.3994,-70.5699
5612995,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:48:36.000-03:00,LCPHU,-33.3972,-70.5499
...,...,...,...,...,...
11428040,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T21:32:20.000-03:00,MFAR3,-33.4034,-70.5584
11431399,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T22:02:20.000-03:00,MFAR3,-33.4034,-70.5584
11409073,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T22:32:20.000-03:00,MFAR3,-33.4034,-70.5584
11416196,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T23:02:20.000-03:00,MFAR3,-33.4034,-70.5584
11433165,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T23:32:20.000-03:00,MFAR3,-33.4034,-70.5584

In [5]:
trazas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49618132 entries, 942157 to 11433165
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   PHONE_ID   object
 1   timestamp  object
 2   bts_id     object
 3   lat        float64
 4   lon        float64
dtypes: float64(2), object(3)
memory usage: 2.2+ GB

In [6]:
#Calcular distancia apartir de la longitud y latitud
def distance_d(LaA, LaB, LoA, LoB):
    #LaA & LoA - primer punto
    #LaB & LoB - punto final
    
# The function "radians" is found in the numpy module, It's also used to convert radians to degrees.  
    LoA = np.radians(LoA)  
    LoB = np.radians(LoB)  
    LaA= np.radians(LaA)  
    LaB = np.radians(LaB) 
    
    # The "Haversine formula" is used.
    D_Lo = LoB - LoA 
    D_La = LaB - LaA 
    P = np.sin(D_La / 2)**2 + np.cos(LaA) * np.cos(LaB) * np.sin(D_Lo / 2)**2  
    #trazas.sort_values(by=['PHONE_ID','timestamp'])
    Q = 2 * np.arcsin(np.sqrt(P))
    # The earth's radius in kilometers.
    R_km = 6378  
    # Then we'll compute the outcome.
    return(Q * R_km)

In [7]:
trazas['lat'].apply(lambda x: float(x))
trazas['lon'].apply(lambda x: float(x))
trazas['jumpDist'] = distance_d(trazas.groupby(['PHONE_ID'])['lat'].shift(1), trazas['lat'], trazas.groupby(['PHONE_ID'])['lon'].shift(1), trazas['lon'])

In [8]:
trazas

,PHONE_ID,timestamp,bts_id,lat,lon,jumpDist
942157,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:09:15.000-03:00,ECROF,-33.3844,-70.5534,NaN
34635336,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:16:37.000-03:00,VTAND,-33.3806,-70.5419,1.149596
34649168,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:18:36.000-03:00,VTAND,-33.3806,-70.5419,0.000000
5770504,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:39:15.000-03:00,MANNE,-33.3994,-70.5699,3.339496
5612995,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:48:36.000-03:00,LCPHU,-33.3972,-70.5499,1.874757
...,...,...,...,...,...,...
11428040,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T21:32:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
11431399,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T22:02:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
11409073,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T22:32:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
11416196,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T23:02:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
11433165,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T23:32:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000

In [9]:
#Elimina las columnas para solo quedarse con el telefono y la distancia 
#Dataset optimizado para quitar a los usuarios que no se mueven
trazas_final = trazas.drop(columns=['timestamp', 'bts_id', 'lat', 'lon'])
trazas_final

                                                   PHONE_ID  jumpDist
942157    00000000e3fc09803d408609f55cbf905120d3a41db564...       NaN
34635336  00000000e3fc09803d408609f55cbf905120d3a41db564...  1.149596
34649168  00000000e3fc09803d408609f55cbf905120d3a41db564...  0.000000
5770504   00000000e3fc09803d408609f55cbf905120d3a41db564...  3.339496
5612995   00000000e3fc09803d408609f55cbf905120d3a41db564...  1.874757
...                                                     ...       ...
11428040  ffffea064367ea293c32db026f6dee34efa6c464375ac9...  0.000000
11431399  ffffea064367ea293c32db026f6dee34efa6c464375ac9...  0.000000
11409073  ffffea064367ea293c32db026f6dee34efa6c464375ac9...  0.000000
11416196  ffffea064367ea293c32db026f6dee34efa6c464375ac9...  0.000000
11433165  ffffea064367ea293c32db026f6dee34efa6c464375ac9...  0.000000

[49618132 rows x 2 columns]

In [10]:
trazas_final.to_csv('../dataset/20210101_RM_jumpDist_sinSumar.csv', index=False)

In [11]:
#Modifica la fecha de "objeto" a "datetime"
trazas["timestamp"] = pd.to_datetime(df.timestamp)

In [12]:
#Calculo del tiempo en hora
trazas['jumpTime'] = (trazas['timestamp'] - trazas.groupby(['PHONE_ID'])['timestamp'].shift(1)) / pd.Timedelta(hours=1)

In [13]:
trazas['jumpTime']

942157           NaN
34635336    0.122778
34649168    0.033056
5770504     0.344167
5612995     0.155833
              ...
11428040    0.500000
11431399    0.500000
11409073    0.500000
11416196    0.500000
11433165    0.500000
Name: jumpTime, Length: 49618132, dtype: float64

In [14]:
#Calculo de la velocidad, con tiempo y distancia KM/HR
trazas['jumpSpeed'] = trazas['jumpDist'] / trazas['jumpTime']
trazas

,PHONE_ID,timestamp,bts_id,lat,lon,jumpDist,jumpTime,jumpSpeed
942157,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:09:15-03:00,ECROF,-33.3844,-70.5534,NaN,NaN,NaN
34635336,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:16:37-03:00,VTAND,-33.3806,-70.5419,1.149596,0.122778,9.363229
34649168,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:18:36-03:00,VTAND,-33.3806,-70.5419,0.000000,0.033056,0.000000
5770504,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:39:15-03:00,MANNE,-33.3994,-70.5699,3.339496,0.344167,9.703137
5612995,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:48:36-03:00,LCPHU,-33.3972,-70.5499,1.874757,0.155833,12.030529
...,...,...,...,...,...,...,...,...
11428040,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 21:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.500000,0.000000
11431399,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.500000,0.000000
11409073,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.500000,0.000000
11416196,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.500000,0.000000
11433165,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.500000,0.000000

In [15]:
trazas_final_velocidad = trazas

In [16]:
#Coloca 0 en los datos que contienen NA (los cuales son los registros iniciales)
trazas_final_velocidad["jumpDist"] = trazas_final_velocidad["jumpDist"].fillna(0)
trazas_final_velocidad["jumpTime"] = trazas_final_velocidad["jumpTime"].fillna(0)
trazas_final_velocidad["jumpSpeed"] = trazas_final_velocidad["jumpSpeed"].fillna(0)
trazas_final_velocidad

,PHONE_ID,timestamp,bts_id,lat,lon,jumpDist,jumpTime,jumpSpeed
942157,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:09:15-03:00,ECROF,-33.3844,-70.5534,0.000000,0.000000,0.000000
34635336,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:16:37-03:00,VTAND,-33.3806,-70.5419,1.149596,0.122778,9.363229
34649168,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:18:36-03:00,VTAND,-33.3806,-70.5419,0.000000,0.033056,0.000000
5770504,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:39:15-03:00,MANNE,-33.3994,-70.5699,3.339496,0.344167,9.703137
5612995,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:48:36-03:00,LCPHU,-33.3972,-70.5499,1.874757,0.155833,12.030529
...,...,...,...,...,...,...,...,...
11428040,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 21:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.500000,0.000000
11431399,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.500000,0.000000
11409073,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.500000,0.000000
11416196,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:02:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.500000,0.000000
11433165,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:32:20-03:00,MFAR3,-33.4034,-70.5584,0.000000,0.500000,0.000000

In [17]:
#Generar csv con el dataset
trazas_final_velocidad.to_csv('../dataset/20210101_RM_jumpTime_jumpSpeed.csv', index=False)